
.tabla1{
	color: brown;
}

.satan{
	text-align: center;
}
ol {
	list-style-type: upper-roman;
}

body {
	background-image: url("img/wood.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.margen{
	background-color: beige;
	border-color: blueviolet;
	border-width: 2px;
	border-style: solid;
}